.contents-wrap
  .contents-bg
    .section-header
      %h2 LEAPの講師一覧
    = render partial: 'tutors/tutor_outline'
    %hr.solid
    = render partial: 'tutors/tutor_outline'
    %hr.solid
    = render partial: 'tutors/tutor_outline'
    %hr.solid
    = render partial: 'tutors/tutor_outline'
    %hr.solid
    = render partial: 'tutors/tutor_outline'