%ul.request-flow.clearfix
  %li.flow-content
    .flow-number.active-number 1
    .triangle
  %li.request-arrow
    / =image_tag('request-arrow.png', :size => "15×15")
  %li.flow-content
    .flow-number 
      %sapn 2
    .number-text 決済情報入力
  %li.request-arrow
  %li.flow-content
    .flow-number 3
    .number-text 完了
.request-box
  .request-title 申し込み内容確認
  %hr.solid
  .request-tutor
    .tutor-meta.clearfix
      = image_tag('tutorprof@2x.png', class: 'tutor-prof')
      .tutor-meta-right
        .tutor-kana
          = @teacher.yomi
        .tutor-name
          = @teacher.name
        %hr.tutor-meta-line
        .tutor-status
          = @teacher.status
  %hr.solid
    .request-price.clearfix
      .price-left 料金：
      .price-right 
        = @teacher.price
= form_tag(action: :complete, method: :post) do
  .webpay-button
    %script.webpay-button.none{"data-key" => WEBPAY_PUBLIC_KEY, :src => "https://checkout.webpay.jp/v1/"}
.request-text
  %p ※申し込み後の返金は行えませんので、<br>授業内容や日程に関して講師に先に<br>話を聞くことがオススメです。
  / = link_to "先に話を聞く",{ :controller => "requests", :action => "complete"}, {:class => 'ask-link'}
= form_tag(action: :complete, method: :post) do
  .webpay-button
    %script.webpay-button.none{"data-key" => WEBPAY_PUBLIC_KEY, :src => "https://checkout.webpay.jp/v1/"}