- if student_signed_in?
  %h2.top-bar メッセージする講師を選んで下さい
  %ul.chat-container.clearfix
    - @chats.each do |chat|
      %li
        = link_to chat_path(chat, teacher_id: chat.teacher.id, student_id: @student), class: 'chat-list clearfix' do
          = image_tag('tutorprof@2x.png', :class => 'tutor-prof-chat')
          .chat-meta
            .chat-name
              = chat.teacher.name
            .chat-last-time
              2016年5月11日23:34
          = image_tag('chat_arrow.png', :class => 'chat-arrow', size: "10×17.5")

- elsif teacher_signed_in?
  %h2.top-bar メッセージする生徒を選んで下さい
  %ul.chat-container.clearfix
    - @chats.each do |chat|
      %li
        = link_to chat_path(chat, student_id: chat.student.id, teacher_id: chat.teacher.id), class: 'chat-list clearfix' do
          = image_tag('tutorprof@2x.png', :class => 'tutor-prof-chat')
          .chat-meta
            .chat-name
              = chat.student.name
            .chat-last-time
              2016年5月11日23:34
          = image_tag('chat_arrow.png', :class => 'chat-arrow', size: "10×17.5")
