- if student_signed_in?
  %h2.top-bar #{@teacher.name}先生
  - if @messages.empty?
    .no-message 
      %p 講師からのメッセージはまだありません。聞きたいことがあったら質問してみましょう。

  %ul.comment-container
    - @messages.each do |message|
      %li.comment-wrap.clearfix
        - if message.user_type == 0
          = image_tag(message.student.image_url.to_s, class: 'tutor-prof-chat')
        - elsif message.user_type == 1
          = image_tag(message.teacher.image_url.to_s, class: 'tutor-prof-chat')
        .comment-right
          .chat-name
            - if message.user_type == 0
              = message.student.name
            - elsif message.user_type == 1
              = message.teacher.name
          .comment
            = message.content
          .more-area
            = image_tag('more.svg', class: 'more')
            %ul.more_list
              / %li
              /   = link_to '編集', edit_chat_message_path(params[:chat_id], message.id), method: :get
              %li
                = link_to '削除', "/chats/#{params[:id]}/messages/#{message.id}" , method: :delete
          .comment-date
            %p 2016年2月12日 17:30
    = form_tag({controller: 'messages', action: 'create', chat_id: @chat.id, teacher_id: @teacher.id}, {method: :post}) do
      = text_area_tag(:message, '', size: '30x2')
      = submit_tag '送信', :class => 'send-button'

- elsif teacher_signed_in?
  %h2.top-bar #{@student.name}
  %ul.comment-container
    - @messages.each do |message|
      %li.comment-wrap.clearfix
        - if message.user_type == 0
          = image_tag(message.student.image_url.to_s, class: 'tutor-prof-chat')
        - elsif message.user_type == 1
          = image_tag(message.teacher.image_url.to_s, class: 'tutor-prof-chat')
          / = image_tag(teacher.image_url.to_s, class: 'tutor-prof-chat')
        .comment-right
          .chat-name
            - if message.user_type == 0
              = message.student.name
            - elsif message.user_type == 1
              = message.teacher.name
          .comment
            = message.content
          .more-area
            = image_tag('more.svg', class: 'more')
            %ul.more_list
              / %li
              /   = link_to '編集', edit_chat_message_path(params[:chat_id], message.id), method: :get
              %li
                = link_to '削除', "/chats/#{message.chatroom.id}/messages/#{message.id}" , method: :delete
          .comment-date
            %p 2016年2月12日 17:30
    = form_tag({controller: 'messages', action: 'create', chat_id: @chat.id, teacher_id: @chat.teacher.id}, {method: :post}) do
      = text_area_tag(:message, '', size: '30x2')
      = submit_tag '送信', :class => 'send-button'

