!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title LEAP | 司法試験プライベート講師
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .container
      = render partial: 'common/header'
      = yield
      = render partial: 'common/footer'
    #humberger
      %span.menu-line
      %span.menu-line
      %span.menu-line
      / .menu-box
      /   %a{:href => '/', :class => 'menu'}
      /     %span{:class => 'menu-line'}
      /     %span{:class => 'menu-line'}
      /     %span{:class => 'menu-line'}
    #drawernav
      %ul
        %li
          %a{:href => "/"}TOP
        %li
          %a{:href => "/"}アカウントを作る
        %li
          %a{:href => "/"}ログインする
        %li
          %a{:href => "/"}講師を見る
        
    / jQuery
    = javascript_include_tag 'jquery.flexslider.js' => true
    :javascript
      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide"
        });
      });