!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title LEAP | 司法試験プライベート講師
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .container
      = render partial: 'common/header'
      = yield
      = render partial: 'common/footer'
    #humberger
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    #drawernav
      %ul
        %li
          = link_to "TOP", "/"
        %li
          = link_to "アカウントを作る", new_student_registration_path, get: :method
        %li
          = link_to "ログインする", new_student_session_path, get: :method
        %li
          = link_to "講師を見る", tutors_path, get: :method
        
    / jQuery
    = javascript_include_tag 'jquery.flexslider.js' => true
    :javascript
      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide"
        });
      });